<h1>All Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<div><p>
<%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> - <strong>Category:</strong>
<%= restaurant.category %> - <strong>Address:</strong>
<%= restaurant.address %>
</p></div>
<% end %>
<br>
<%= link_to "Create a new restaurant", new_restaurant_path %>
